<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> FINANDINA </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link rel="stylesheet" href="resources/assets/css/style-min.css">   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
</head>

<body>  
    <div class="content" ng-controller="prueba">   
            <div class="content-general">

                    <div class="content-uno" ng-show="paso == 1">    
                        <div class="sliderhome"> 
                            <ul class="bxslider"> 
                                <li>
                                    <img src="resources/assets/images/tasa.png">
                                    <p>Ingrese desde la comodidad de tu casa y descubre todas las funciones que tenemos para tí</p>
                                </li>
                                <li>
                                    <img src="resources/assets/images/tasa.png">
                                    <p>Ingrese desde la comodidad de tu casa y descubre todas las funciones que tenemos para tí</p>
                                </li>
                                <li>
                                    <img src="resources/assets/images/tasa.png">
                                    <p>Ingrese desde la comodidad de tu casa y descubre todas las funciones que tenemos para tí</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content-dos" ng-show="paso == 1 && vista == 1">  
                        <div>
                            <img src="resources/assets/images/logo.png">
                            <div class="titu">
                                <h3>¡Bienvenido a tu Banca Digital!</h3>
                                <p>Por favor ingresa los siguientes datos</p>
                            </div>
                            <div class="txt-btn"> 
                                <input class="input" type="text" name="usuario" placeholder="Ingresa tu usuario">  
                                <button class="btn-uno" name="button" ng-click="irvista2();">CONTINUAR</button>    
                            </div>
                            <div class="datos-uno">
                                <p>¿Has olvidado tu usuario?</p>
                                <a href="">Haz clic aquí para recordarlo</a>
                            </div>
                            <div class="datos-uno">
                                <p>¿No cuentas con datos de ingreso?</p>
                                <a href="">Regístrate aquí</a>
                            </div> 
                        </div>
                    </div>
            
            
            
                    <div class="content-dos gafas" ng-show="paso == 1 && vista == 2">      
                        <div>
                            <img src="resources/assets/images/logo.png">
                            <div class="titu">
                                <h3>¡Bienvenido a tu Banca Digital!</h3>
                                <p>Por favor ingresa los siguientes datos</p>
                            </div>
                            <div class="txt-btn">
                                <input class="usuario input" type="text" name="usuario" placeholder="Ingresa tu usuario">
                            </div>
                            <div class="catch">
                                <img src="resources/assets/images/gafas.png">
                                <p class="eje">Lentesypizza</p>
                            </div>
                            <div>
                                <input class="input" type="checkbox" name="">Reconozco la imagen y la frase.
                                <p>En caso de no reconocer la imagen y la frase no las confirmes.</p>
                            </div>
                            <button class="btn-uno-gafas" name="button" ng-click="paso = 2; vista = 1;">INGRESAR</button>  
                            <div class="datos-uno">
                                <p>CAMBIAR USUARIO</p>
                            </div>
                            <div class="datos-dos">
                                <p>¿Olvidaste tu contraseña?</p>
                                <a href=""> Haz clic aquí para recuperarla</a>
                            </div>
                        </div>
                    </div> 
            
            
            
            
                    <div class="content-uno uno" ng-show="paso == 2">  
                        <div class="cont">
                            <p class="titu">Te damos la bienvenida, para este proceso ten a la mano:</p>
                            <img src="resources/assets/images/cartas.png">
                            <p>1. Tu documento de identificación</p>
                            <p>2. Télefono celular ó acceso a tu correo electrónico</p>
                            <p class="titu-final">Ten en cuenta que estos datos fueron registrados previamente durante la solicitud de tu producto.</p>
                        </div>
                    </div>
                    <div class="content-dos dos" ng-show="paso == 2 && vista == 1">   
                        <div>
                            <img src="resources/assets/images/logo.png">
                            <div class="titu">
                                <h3>¡Bienvenido a tu Banca Digital!</h3>
                                <p>Por favor ingresa los siguientes datos</p>
                            </div>
                            <div class="txt-btn">
                                <select>
                                    <option value="">Selecciona tu tipo de identificación</option>
                                    <option>T.I</option>
                                    <option>C.C</option>
                                    <option>C.E</option>
                                </select>
                                <input class="input" type="number" name="usuario" placeholder="Ingresa tu número de identificación">
                                <input class="input" type="date" name="usuario" placeholder="Ingresa la fecha de expedición">
                                <button class="btn-dos" name="button" ng-click="paso = 3; vista = 1;">REGISTRARME</button> 
                            </div>
                            <div class="datos-uno">
                                <p>¿Tienes alguna duda? Revisa nuestros</p>
                                <a href="">Términos y condiciones</a>
                            </div>  
                        </div>
                    </div>
            
            
            
                    <div class="content-uno tres" ng-show="paso == 3">
                        <div class="cont">
                            <img src="resources/assets/images/logo.png">
                            <p class="titu">¡Vamos a crear tu perfil! Iniciemos con las preguntas de seguridad</p>
                            <img class="candado" src="resources/assets/images/candado.png">
                            <p class="parrafo">Por favor, contesta las 4 preguntas que aparecen a continuación, esta información nos ayuda a conocerte un poco mas.</p>
                        </div>
                    </div>
                    <div class="content-dos tres" ng-show="paso == 3 && vista == 1">  
                        <div>
                                <div class="content-bullets">
                                        <div class="active"> 
                                            <img src="resources/assets/images/escudo.png">
                                        </div>
                                        <div>
                                            <img src="resources/assets/images/carta.png">
                                        </div>
                                        <div>
                                            <img src="resources/assets/images/globo.png">
                                        </div>
                                        <div>
                                            <img src="resources/assets/images/usuario.png">
                                        </div>
                                        <span class="linea"></span> 
                                    </div> 
                            
                            <p>1- La cuenta de ahorros del Banco Davivienda que tuviste, estuvo activa durante:</p>
                            <div class="radios">
                                <input type="radio" name="gender" value=""><span>3 años</span><br>
                                <input type="radio" name="gender" value=""><span>Aún sigue activa</span><br>
                                <input type="radio" name="gender" value=""><span>1 año</span><br>  
                                <input type="radio" name="gender" value=""><span>Jamás he tenido una cuenta en este banco</span><br>  
                                <input type="radio" name="gender" value=""><span>2 años</span><br>  
                            </div>
                            <button class="btn-dos-tres" name="button" ng-click="paso = 4; vista = 1;">SIGUIENTE PREGUNTA</button> 
                        </div>
                    </div>  
            
            
            
                    <div class="content-uno cuatro" ng-show="paso == 4">
                        <div class="cont">
                            <img src="resources/assets/images/logo.png">
                            <p class="titu">Continuemos, ahora ingresa tus datos básicos de contacto</p>
                            <img class="candado" src="resources/assets/images/candado.png">
                            <p class="parrafo">Ayúdanos a mantener tu seguridad, solo debes ingresar tu correo y el número de tu teléfono celular.</p>
                        </div>
                    </div>
                    <div class="content-dos cuatro" ng-show="paso == 4 && vista == 1"> 
                        <div>
                                <div class="content-bullets">
                                        <div class="active_medio"> 
                                            <img src="resources/assets/images/escudo.png">
                                        </div>
                                        <div class="active">
                                            <img src="resources/assets/images/carta.png">
                                        </div>
                                        <div>
                                            <img src="resources/assets/images/globo.png">
                                        </div>
                                        <div>
                                            <img src="resources/assets/images/usuario.png">
                                        </div>
                                        <span class="linea"></span> 
                                    </div>
                            <p>Enviaremos los códigos de seguridad a los datos que registres.</p>
                            <div class="content-campos">
                                <input class="input" type="mail" name="usuario" placeholder="Ingresa tu correo electrónico">
                                <input class="input" type="number" name="usuario" placeholder="Ingresa tu número celular">
                            </div>
                            <button class="btn-dos-cuatro" name="button">ENVIAR</button>
                        </div>
                    </div>   
            
            
            
                   <!--  <div class="content-uno cinco">
                        <div class="cont">
                            <img src="resources/assets/images/logo.png">
                            <p class="titu">Validemos el código de seguridad!</p>
                            <img class="candado" src="resources/assets/images/pin.png">
                            <p class="parrafo">Ayúdanos a mantener tu seguridad, solo debes ingresar tu correo y el número de tu teléfono celular.</p>
                        </div>
                    </div>
                    <div class="content-dos cinco">
                        <div>
                            <div class="linea">
                            <div class="content-bullets">
                                <div>
                                    <img src="resources/assets/images/escudo.png">
                                </div>
                                <div>
                                    <img src="resources/assets/images/carta.png">
                                </div>
                                <div>
                                    <img src="resources/assets/images/globo.png">
                                </div>
                                <div>
                                    <img src="resources/assets/images/usuario.png">
                                </div>
                            </div>
                            </div>
                            <p>Ingresa los códigos que te hemos enviado</p>
                            <div class="content-campos">
                                <input class="input" type="mail" name="usuario" placeholder="Ingresa el código del correo">
                                <input class="input" type="number" name="usuario" placeholder="Ingresa el código del sms">
                            </div>
                            <button class="btn-dos" name="button">ENVIAR</button>
                        </div>
                    </div>  --> 
            
                </div>
    </div>
    
    
    <footer>
        <div class="legales"> 
            <p>Todos los derechos reservados 2019 - <b>Banco Finandina</b></p>
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="resources/assets/js/jquery.bxslider.min.js"></script>
    <script src="resources/source/js/app.js"></script>
</body>

</html>