/*

AUTOR : EDWIN HERNAN ARAQUE MARTINEZ

*/


/*------------------------------------*\
  @FONTS
\*------------------------------------*/

@font-face {
    font-family: 'dotmovistar-fontfont'; 
    src: url('../fonts/dotmovistar-font1-webfont.woff2') format('woff2'), url('../fonts/dotmovistar-font1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}


/*------------------------------------*\
  @IMPORT
\*------------------------------------*/

@import "normalize"; 
@import "bxslider";

/*------------------------------------*\
  @VARIABLES
\*------------------------------------*/

$font: "dotmovistar-fontfont";

/*------------------------------------*\
  $CONTENT
\*------------------------------------*/

body {
    background: #f6f7f9;
}

@mixin anclacolor() {
    a {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

@mixin anclacolor_black() {
    a {
        color: #494949;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

header {
    width: 100%;
    margin: auto;
    position: relative;
    display: block;
    background: white;
    .topheader {
        background: #005c84;
        min-height: 40px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        color: white;
        .txtheaderuno {
            padding-left: 20px;
            @include anclacolor();
        }
        .txtheaderdos {
            padding-right: 20px;
            @include anclacolor();
        }
    }
    .bottomheader {
        background: white;
        width: 100%;
        min-height: 70px;
        box-shadow: 1px 3px 2px -1px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            padding-left: 20px;
        }
        .contentright {
            display: flex;
            align-items: center;
            nav {
                ul {
                    list-style: none;
                    li {
                        float: left;
                        margin-right: 30px;
                        a {
                            text-decoration: none;
                            font-size: 16px;
                            color: #005c84;
                        }
                    }
                }
            }
        }
    }
}

.sliderhome {
    width: 100%;
    height: auto;
    position: relative;
    .bx-wrapper {
        margin: auto;
        .bxslider {
            margin: auto;
        }
        img {
            width: 100%;
        }
    }
    .bx-controls.bx-has-pager {
        position: absolute;
        right: 10px;
        top: 30px;
        width: 100px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: #b3e4ec;
        width: 20px;
        height: 20px;
        border-radius: 20px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a.active,
    .bx-wrapper .bx-pager.bx-default-pager a:hover {
        background: #41bbd0;
    }
}

.contentinfo {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0;
    padding: 0;
    .contentinfouno {
        width: 50%;
        background: #f6f7f9;
        min-height: 60px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        @include anclacolor_black();
        padding-left: 40px;
        img {
            margin-right: 7px;
        }
    }
    .contentinfodos {
        width: 50%;
        background: #f6f7f9;
        min-height: 60px;
        display: flex;
        align-items: center;
        cursor: pointer;
        @include anclacolor_black();
        padding-left: 50px;
        position: relative;
        img {
            margin-right: 7px;
        }
    }
    .active {
        background: #00B1E6;
        color: white;
        z-index: 9;
        &:after {
            content: url(../images/arrow_d.png);
            position: absolute;
            bottom: -17px;
            left: 10px;
        }
    }
}

.titulo {
    text-align: center;
    color: #494949;
    font-size: 23px;
    font-weight: lighter;
    padding: 40px 0;
}

.contentplan {
    max-width: 900px;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .infouno {
        width: 280px;
        height: 430px;
        box-shadow: -1px 1px 12px -3px rgba(0, 0, 0, 0.4);
        background: white;
        transition: 1s;
        cursor: pointer;
        img {
            display: block;
            margin: 13px auto;
        }
        span {
            font-size: 16px;
            color: #929292;
            text-align: center;
            display: block;
        }
        .titulouno {
            width: 100%;
            color: white;
            background: #00B1E6;
            display: block;
            text-align: center;
            font-size: 40px;
            font-weight: lighter;
            padding: 20px 0;
        }
        .lineaint {
            width: 80%;
            background: #929292;
            height: 1px;
            display: block;
            margin: 28px auto;
        }
        .precio {
            color: #494949;
            font-size: 18px;
            margin-top: 70px;
        }
        .loquiero {
            border: 2px solid #929292;
            color: #929292;
            text-decoration: none;
            padding: 10px 20px;
            margin: 25px auto;
            display: block;
            width: 149px;
            text-align: center;
            &:hover {
                text-decoration: underline;
            }
        }
        &:hover {
            transform: scale(1.1);
            transition: 1s;
            .loquiero {
                background: #00B1E6;
                color: white;
                border: 0;
            }
        }
    }
}

.tab1,
.tab2 {
    margin: 0;
    width: 100%;
    position: relative;
    background: white;
    padding-bottom: 60px;
}

.redes {
    text-align: center;
    margin-top: 60px;
    .lineauno {
        width: 50%;
        height: 1px;
        background: red;
    }
}

.tab2 {
    display: none;
}

.logo_telefonica {
    text-align: center;
    margin: 20px auto;
}

.legales {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    padding: 28px 0;
    font-size: 13px;
    a {
        color: #005c84;
    }
}


/*------------------------------------*\
  @RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width: 680px) {
    header {
        .topheader {
            a {
                font-size: 12px;
            }
            .txtheaderuno,
            .txtheaderdos {
                padding: 0;
            }
            .txtheaderdos {
                display: none;
            }
        }
    }
    .contentplan .infouno {
        margin: 10px auto;
        display: block;
    }
    nav {
        display: none;
    }
    .contentinfo {
        flex-wrap: wrap;
        .contentinfouno,
        .contentinfodos {
            width: 100%;
        }
    }
}