/*

AUTOR : EDWIN HERNAN ARAQUE MARTINEZ

*/
/*------------------------------------*  @FONTS
\*------------------------------------*/
@font-face {

}

/*------------------------------------*  @IMPORT
\*------------------------------------*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
    
/**
 * Remove default margin.
 */
body {
  margin: 0; 
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: 0;
  left: -5px;
  background: transparent;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: rgba(255, 255, 255, 0.5);
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ffffff;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

.bx-viewport{
  height: auto !important; 
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/*------------------------------------*  @VARIABLES
\*------------------------------------*/
/*------------------------------------*  $CONTENT
\*------------------------------------*/
body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh; 
} 

.fade { 
  transition: all linear 0.5s; 
  opacity: 1;
}

.fade.ng-hide {
  opacity: 0;
}
.ng-hide {
  opacity: 0;
  transition: none 0;
}

.input{ 
  padding-left: 10px; 
  box-sizing: border-box;  
}

.content{ 
    min-height: calc(100vh - 75px);
    display: flex;
    justify-content: center; 
    align-content: center;
    align-items: center;
}

.content-general{
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  max-width: 1242px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 10px;
  opacity: 1;  
  max-height: 681px;
}

/*Inicio Uno*/
.content-general .content-uno{
  width: 50%;
  background: url('../images/fondo-rojo.png');
  background-repeat: no-repeat;
    height: 681px;
    max-height: 681px;
}

.content-general .content-uno .sliderhome{
  padding-top: 190px;
}

.bx-controls.bx-has-pager{
  padding-top: 20px;
}

.content-general .content-uno .sliderhome .bxslider img{
  margin: 0 auto
}

.content-general .content-uno .sliderhome .bxslider p{
  color: #ffffff;
  text-align: center;
  padding: 30px 60px;
}

.content-general .content-dos{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 681px;
}

.content-general .content-dos.dos{
  width: 40%;
  margin: 45px auto;
}

.content-general .content-dos input{
  border: 1px solid #CED4DA;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}

/*.content-general .content-dos input:before {

  content: 'Hihi';
    background-image: url(../images/user.png);
    height: 200px;
    width: 200px;
    float: left;
    position: absolute;
    top: -17px;
    left: -81px;
    border: 2px solid yellow;
    display: block;
    background-color: pink;
}*/

.content-general .content-dos.dos input{
  margin-bottom: 20px;
}

.content-general .content-dos.dos select{
  margin-bottom: 20px;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}

.content-general .content-dos button{
  background: #ED2529 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  border-radius: 25px;
  border: none;
  width: 100%;
  margin: 12px 0 0 0;
  height: 50px;
  font-weight: bold;
}

.content-general .content-dos h3{
  color: #013D5B;
  font-size: 25px;
  margin: 0;
}

.content-general .content-dos .titu{
  padding-top: 34px;
  padding-bottom: 23px
}

.content-general .content-dos .datos-uno{
  padding: 13px 0 0 0;
}

.content-general .content-dos p{
  font-size: 16px;
  margin: 0;
  color: #707070;
  font-weight: bold;
  padding: 17px 0;
}

.content-general .content-dos a{
  text-decoration: underline;
  color: #CC0000;
}
/*Fin Uno*/

/*inicio gafas*/
.content-dos.gafas{
  width: 30%;
  margin: 45px auto;
}
.content-dos.gafas .catch{
  display: flex;
  align-items: center; 
  background: #F4F4F4;
  margin-top: 32px;
  margin-bottom: 11px;
}
.content-dos.gafas .catch img{
  border-right: 1px solid #CED4DA;
  padding: 0px 10px;
}
.content-dos.gafas .catch .eje{
  padding: 0px 10px; 
  margin-bottom: 0px;
  font-size: 16px;
}
.content-general .content-dos.gafas .usuario{
  border: 1px solid #CED4DA;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}
.content-general .content-dos.gafas input{
  width: auto;
  height: 16px;
}
.content-general .content-dos.gafas p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.content-general .content-dos.gafas .datos-uno p{
  text-align: center;
  font-weight: bold;
  color: #707070;
  font-size: 16px; 
  padding-top: 10px;
}
.content-general .content-dos .datos-dos{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content-general .content-dos .datos-dos p{
  padding: 0;
  margin: 0;
  font-size: 13px;
}
.content-general .content-dos .datos-dos a{
  font-size: 13px;
}
/*fin gafas*/

/*Inicio Dos*/
.uno{
  
}
.content-general .content-dos.dos{
  
  width: 40%;
  margin: 45px auto;
}
.content-general .content-uno.uno img{
  width: 321px;
  height: 214px;
  display: block;
  margin: 0 auto;
}

.content-general .content-uno .cont{
  width: 420px;
  margin: 0 auto;
  padding-top: 120px;
}

.content-general .content-uno .cont .titu{
  padding-bottom: 20px;
}

.content-general .content-uno .cont .titu-final{
  padding-top: 20px;
}

.content-general .content-uno p{
 
 color: #ffffff;
}
/*Fin Dos*/

/*Inicio tres*/
.content-uno.tres{
  
}
.content-dos.tres{

width: 40%;
  margin: 45px auto;
}
.content-general .content-dos.tres .content-bullets{
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.content-general .content-dos.tres .content-bullets .active{
  background: #ed2529;
  border: #ed2529;  
}

.linea{ 
  position: absolute;
  width: 100%;
  height: 4px; 
  background: #ED2529; 
  top: 18px; 
}
.content-general .content-dos.tres .content-bullets img{
  width: 60%;
}
.content-general .content-dos.tres .content-bullets div{
  border: 4px solid #D5D5D5;
  border-radius: 30px;  
  width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 9; 
  background: white;
}
.content-general .content-dos.tres .radios{
  padding: 0px 40px;
  padding-bottom: 60px;
}
.content-general .content-dos.tres p{
  padding: 60px 40px;
}
.content-general .content-uno.tres .cont{
  padding-top: 70px;
}
.content-uno.tres{
  background: transparent;
  background-color: #FBFBFB;
}
.content-uno.tres .titu{
  color: #013D5B;
  font-size: 25px;
}
.content-uno.tres .candado{
  width: 205px;
  height: 205px;
  margin: 0 auto;
  display: block;
}
.content-uno.tres .parrafo{
  color: #707070;
  padding-top: 20px;
}
.content-general .content-dos.tres input{
  width: auto;
  height: 14px;
  margin: 10px 5px; 
}
.content-general .content-dos.tres span{
  color: #707070;
}
/*Fin tres*/

/*Inicio Cuatro*/
.content-uno.cuatro{

}
.content-dos.cuatro{ 
  width: 40%;
  margin: 45px auto;
}
.content-general .content-dos.cuatro .content-bullets{  
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-bottom: 10px; 
}
.linea{
  /*background: url('../images/linea.png');
      background-repeat: repeat-y;
    background-position: center;
    height: 100%;
    display: block;
    width: 100px;
    position: relative;*/
}
.content-general .content-dos.cuatro .content-bullets img{
  width: 60%;
}
.content-general .content-dos.cuatro .content-bullets div{
  border: 4px solid #D5D5D5;
  border-radius: 30px;  
  width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 9; 
  background: white;
}

.content-general .content-dos.cuatro .content-bullets .active{
  background: #ed2529;
  border: #ed2529;  
}
.content-general .content-dos.cuatro .content-bullets .active_medio{ 
  border: 4px solid #ED2529;
}
.content-general .content-dos.cuatro p{
  padding: 60px 40px;
}
.content-general .content-uno.cuatro .cont{
  padding-top: 70px;
}
.content-uno.cuatro{
  background: transparent;
  background-color: #FBFBFB;
}
.content-uno.cuatro .titu{
  color: #013D5B;
  font-size: 25px;
}
.content-uno.cuatro .candado{
  width: 205px;
  height: 205px;
  margin: 0 auto;
  display: block;
}
.content-uno.cuatro .parrafo{
  color: #707070;
  padding-top: 20px;
}
.content-general .content-dos.cuatro input{
  width: auto;
  height: 14px;
  margin: 10px 5px; 
}
.content-general .content-dos.cuatro span{
  color: #707070;
}
.content-general .content-dos.cuatro input{
  border: 1px solid #CED4DA;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}
/*Fin Cuatro*/

/*Inicio Cinco*/
.content-uno.cinco{
  
}
.content-dos.cinco{
 
  width: 40%;
  margin: 45px auto;
}
.content-general .content-dos.cinco .content-bullets{
  display: flex;
  justify-content: space-evenly;
  padding-top: 62px;
}
.linea{
  /*background: url('../images/linea.png');
      background-repeat: repeat-y;
    background-position: center;
    height: 100%;
    display: block;
    width: 100px;
    position: relative;*/
}
.content-general .content-dos.cinco .content-bullets img{
  width: 60%;
}
.content-general .content-dos.cinco .content-bullets div{
  border: 4px solid #D5D5D5;
  border-radius: 30px;  
  width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.content-general .content-dos.cinco p{
  padding: 60px 40px;
}
.content-general .content-uno.cinco .cont{
  padding-top: 70px;
}
.content-uno.cinco{
  background: transparent;
  background-color: #FBFBFB;
}
.content-uno.cinco .titu{
  color: #013D5B;
  font-size: 25px;
}
.content-uno.cinco .candado{
  width: 205px;
  height: 205px;
  margin: 0 auto;
  display: block;
}
.content-uno.cinco .parrafo{
  color: #707070;
  padding-top: 20px;
}
.content-general .content-dos.cinco input{
  width: auto;
  height: 14px;
  margin: 10px 5px; 
}
.content-general .content-dos.cinco span{
  color: #707070;
}
.content-general .content-dos.cinco input{
  border: 1px solid #CED4DA;
  border-radius: 5px;
  width: 100%;
  height: 50px;
}
/*Fin Cinco*/

footer{
  background: #ED2529;
  color: #FFFFFF; 
  height: 75px;
  text-align: left;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
footer .legales{ 
  max-width: 1242px;
  width: 100%; 
  margin: 0 auto; 
  padding: 0;
}

footer .legales p{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
  align-items: center;
}


/*------------------------------------*  @RESPONSIVE
\*------------------------------------*/
@media only screen and (max-width: 680px) {
  .content-general{
    width: 95%;
    padding: 10px;
    box-sizing: border-box;
  }
  .content-uno{
  
  }
  .content-general .content-dos{
    width: 95%;
    margin: 0 auto;
  }
  .content-general .content-uno{
    display: none !important;
  }
  .content-general .content-dos.dos{
    width: 95%;
  }
  .content-general .content-dos.cuatro input{
    width: 96%;
  }
  footer{
    text-align: center !important;
    background: #013D5B;
  }
}
